@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eee;
}

.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

/* ----------------------------- nav base styles ---------------------------- */
nav {
  background-color: #333;
}

nav ul {
  list-style-type: none;
}

nav a {
  text-decoration: none;
  text-align: center;
  color: white;
  display: block;
  padding: 10px;
}

nav a:hover {
  background-color: #555;
}

/* ------------------------------- flex styles ------------------------------ */
@media only screen and (min-width: 768px) {
  nav ul {
    display: flex;
    justify-content: flex-start;
  }

  nav li {
    flex: 1 1 0;
  }
}
